<div class="categories-navbar">
    <div class="new-category-modifier">
        <%= link_to categories_path do %>
            <i class="fa-solid fa-arrow-left"></i>
        <%end%>
        <h3> Transactions</h3>
    </div>
</div>

<div class="category-container">
    <div class="category-wrapper">
        <div class="card">
            <img src="<%= @category.icon %>" alt="<%= @category.name %> icon">

            <div class="card-inner">
                <p><%= @category.name %></p>
                <h4>TOTAL PAYMENT: $<%= @total_amount %></h4>
            </div>
            <div class ="category-card-created">
                <span>time</span>
            </div>
        </div>
    </div>
</div>


<div class="category-container">
  <% @transactions.each do |transaction| %>
    <div class="category-wrapper">
        <div class="card">
            <img src="https://www.uob.com.sg/assets/web-resources/personal/images/customer-service/payments-and-transactions/masthead/masthead.png" alt="payment" icon">
            <div class="card-inner">
                <p><%= transaction.payment.name %></p>
                <h3>$<%= transaction.payment.amount %></h3>
            </div>
            <div class ="category-card-created">
                <span><%= transaction.created_at.strftime("%Y-%m-%d") %></span>
            </div>
        </div>
    </div>
    <% end %>
</div>
<div class="add-wrapper">
    <%= link_to "Add Transaction", new_category_payment_path(@category)%>
</div>

